<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<typeAlias alias="member" type="com.ddyggu.bean.Member"/>
		<typeAlias alias="board" type="com.ddyggu.bean.BoardList"/>
		<typeAlias alias="boardFile" type="com.ddyggu.bean.BoardFile"/>
		<typeAlias alias="comment" type="com.ddyggu.bean.Comment"/>
		<typeAlias alias="bbsList" type="com.ddyggu.bean.BBSList"/>
		<typeAlias alias="bbsContent" type="com.ddyggu.bean.BBSContent"/>
		<typeAlias alias="search" type="com.ddyggu.bean.Search"/>
		<!--  
		<typeAlias alias="al" type="java.util.List"/>
		<typeAlias alias="Map" type="java.util.Map"/>
		-->
	</typeAliases>
</configuration>